# INICIO #

ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure rconlog

# Essential #

ensure async
ensure mysql-async
ensure es_extended
ensure cron
ensure instance

ensure skinchanger
ensure TP3SCa

ensure esx_menu_default
ensure esx_menu_list
ensure esx_menu_dialog

# Chat #

# Mapeos #

# Coches #

# ESX #

ensure LegacyFuel
ensure esx_addonaccount
ensure esx_addoninventory
ensure esx_basicneeds
ensure esx_billing
ensure esx_datastore
ensure esx_identity
ensure esx_license
ensure esx_service
ensure esx_skin
ensure esx_society
ensure esx_status

# Project0_Zer0 Telefono #

start esx_addons_gcphone
start gcphone
start vdk_call

# Admin #

ensure AdminV3

# HUD #

ensure trew_hud_ui
ensure veh

# Scripts #

ensure dpclothing
ensure dpemotes
ensure esx_sit
ensure esx_voice

# Ilegal #

ensure esx_holdup

# Tiendas #

ensure esx_atm
ensure esx_barbershop
ensure esx_clotheshop
ensure esx_property
ensure esx_shops
ensure esx_vehicleshop
ensure Project0_Garajes

# Trabajos #

ensure esx_ambulancejob
ensure esx_joblisting
ensure esx_mechanicjob
ensure esx_policejob
ensure esx_garbagecrew
ensure esx_truckerjob

# Organizaciones #

# Negocios #